@font-face{
    font-family: dek;
    src: url(../font/SanamDeklen_chaya/dek.otf);
}

@font-face{
    font-family: ek;
    src: url(../font/ekamai.ttf);
}

@font-face{
    font-family: loo;
    src: url(../font/loo.ttf);
}

@font-face{
    font-family: pay;
    src: url(../font/pay.ttf);
}

body{
    background-color: #fbf9f6;
    font-family: dek;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: ek;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.logo{
    position: relative;
    transform: translateY(-8px);
    height: 50px;
    left: 0;
}
.border-right{
    background-color: #fbf9f6;
    position: fixed;
    z-index: 3;
    width: 16px;
    right: 0;
    height: 100%;
    top:0;
}
.border-left{
    background-color: #fbf9f6;
    position: fixed;
    z-index: 3;
    width: 16px;
    left: 0;
    height: 100%;
    top:0;
}

#box1{
    width: 100%;
    background: whitesmoke;
    background-size: cover;
    background-attachment: fixed;
    font-family: ek;

}
.hp{

    width: 30%;
    padding-top: 10%;
    padding-left: 5%;
}
.head{
    width: 100%;
    display: block;
}
iframe{
    z-index: 2;
    padding-right: 10%;
    padding-bottom: 10%;
}


.check h2, .check p{
    float: left;
    height: 120px;
    position: relative;
    display: block;
}