@font-face{
    font-family: dek;
    src: url(../font/SanamDeklen_chaya/dek.otf);
}

@font-face{
    font-family: ek;
    src: url(../font/ekamai.ttf);
}

@font-face{
    font-family: loo;
    src: url(../font/loo.ttf);
}

@font-face{
    font-family: pay;
    src: url(../font/pay.ttf);
}

body{
    background-color: #fbf9f6;
    font-family: dek;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: ek;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
}

.logo{
    position: relative;
    transform: translateY(-8px);
    height: 50px;
    left: 0;
}
.border-right{
    background-color: #fbf9f6;
    position: fixed;
    z-index: 3;
    width: 16px;
    right: 0;
    height: 100%;
    top:0;
}
.border-left{
    background-color: #fbf9f6;
    position: fixed;
    z-index: 3;
    width: 16px;
    left: 0;
    height: 100%;
    top:0;
}

#box1{
    width: 100%;
    background: whitesmoke;
    background-size: cover;
    background-attachment: fixed;
    font-family: ek;

}
.hp{
    width: 30%;
    padding-top: 10%;
    padding-left: 5%;
}
.head{
    width: 100%;
    display: block;

}
iframe{
    z-index: 2;
    padding-right: 10%;
    padding-bottom: 10%;
}


.check h2, .check p{
    float: left;
    height: 120px;
    position: relative;
    display: block;
}

#its{
    width: 100%;
    margin-top: 10px;
    background-color: #dbcab6;
    color: rgb(150, 76, 16);
    display: block;
    float: left;
}

#its .head{
    width: 40%;
    padding-left: 6%;
    padding-top: 0%;
    padding-bottom: 10%;
    font-family: 'Times New Roman', Times, serif;
    
}

#its .head h2{
    font-size: 60px;
    display: block;
    float: left;
    font-family: pay;
}

#its .head p{
    font-size: 20px;
    font-family: ek;
    display: block;
    float: left;
}

#its img{
    height: 30%;
    width: 40%;
    margin-bottom: 5%;
}

#history{
    width: 100%;
    background: rgb(240, 238, 231);
    background-size: cover;
    background-attachment: fixed;
    font-family: ek;
    display: block;
    float: left;
}

#history .head img{
    height: 50%;
    width: 50%;
    padding-top: 30px;
    display: block;
    float: left;
}

#history .head .content{
    display: block;
    float: left;
    padding-left: 5%;
    width: 40%;
}

#history .head .content h2{
    font-size: 52px;
}

#history .head .content p{
    font-size: 18px;
    font-family: ek;
}
