@font-face{
    font-family: ek;
    src: url(../font/ekamai.ttf);
}
@font-face{
    font-family: hero;
    src: url(../font/Super_Comic.otf)
}

*{
    box-sizing: border-box;
}


body{
    
    margin: 0;
    padding: 0;
}
nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: ek;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 4;
}

.logo{
    position: relative;
    transform: translateY(-8px);
    height: 50px;
    left: 0;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -2;
    width: 100%;
}

.box2{
    height: 700px;
    width: 100%;
    position: relative;
    background: white;
    transform: translateY(800px);
    z-index: 3;
}

#div1{
    height: 730px;
    width: 100%;
    position: relative;
    background: white;
    transform: translateY(900px);
}

.img_b3{
    height: 600px;
}
.img_b3 *{
    position: relative;
    height: 400px;
    width:500px;
}

.img1{
    transform: translate(210px, 120px);
    cursor: pointer;
    overflow: hidden;
}

.img1:hover .text{
    transform: translateY(-100%);
}

.img2{
    transform: translate(700px, -280px);
    cursor: pointer;
    overflow: hidden;
}
.img2:hover .text{
    transform: translateY(-100%);
}

.img3{
    transform: translate(1200px, -680px);
    cursor: pointer;
    overflow: hidden;
}
.img3:hover .text{
    transform: translateY(-100%);
}

div.content {
	background: rgb(56, 54, 54);
	height: 1000px;
    margin: 0;
    padding: 0;
    font-size: 28px;
    transform: translateY(800px);
    width: 100%;
}



.text1{
    font-family: hero;
    color: white;
    text-align: center;
    position: relative;
    transform: translate(500px, 300px);
    background: rgba(0, 0, 0, 0.7);
    width: 850px;
}

.text1 h1{
    font-size: 100px;
    
}

.text{
    height: 405px;
    width:500px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    transform: translateY(0px);
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden; 
    transition: 0.7s ease;
    z-index: 2;

}

.text h2{
    position: relative;
    font-family: ek;
    color: white;
    font-size: 40px;
    padding: 10px 30px;
    text-align: center;
    transform: translateY(120px);
}


.text_box2{
    width: 100%;
    height: 70px;
    position: relative;
    transform: translateY(50px);
    font-family: ek;
    font-size: 40px;
}

.text_box2 h2{
    text-align: center;
}

#div5{
    background: white;
}

.container{
    width: 35%;
    height: 400px;
    margin: 0 auto;
    border: 1px solid black;
    position: relative;
    transform: translate(-450px, 100px);
}

.text_box{

}
@keyframes slider{
    0%{
        left: 0px;
    }
    20%{
        left: 0px;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    85%{
        left: -300%;
    }
    90%{
        left: -400%;
    }
    100%{
        left: -400%;
    }
}


.slider{
    overflow: hidden;
    position: relative;
    transform: translate(0px, 250px);
}

.slider figure img{
    width: 20%;
    float: left;
    height: 350px;

}

.slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite; 
}