@font-face{
    font-family: Luna;
    src: url(../../font/Luna.ttf);
}

@font-face{
    font-family: ek;
    src: url(../../font/ekamai.ttf);
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Luna;
}


header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    margin-top: -200px;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before{
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(pic/ka.jpg);
    background-size: 100% auto;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    display: block;
    background-attachment: fixed;
}

header *{
    font-weight: normal;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 1;
}
.head1{
    text-align: center;
    position: relative;
    transform: translateY(20px);
}


nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    font-family: ek;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    top: 15px;
    height: 50px;
    left: 0;
}
.pic1{
    position: relative;
    transform: translateY(-240px);
}
